<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>    
        <nav id="navbar">      
            <img src="../static/Images/lento-kello_combined.png" alt="" class="logo-img"> 
            <header id="title" class="text-center">Flight database</header>     
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/documentation.html">Documentation</a></li>
                <li><a href="/survey.html">Feedback</a></li>
            </ul>
        </nav>  
        <main id="main-doc">
            <section id="aps_per_continent_by_src" class="main-section">
                <header>Airport per continent by {{source_city}}</header>
                <div class="">
                    <img src="/static/Images/lento-kello_combined.png" alt="Airport per continent by {{source_city}}">
                </div>
            </section> 
        </main>
    </body>
</html>