<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        {% for key, value in result.items() %}
            <p>{{ key }}</p>
            <p>{{ value }}</p>
        {% endfor %}
        <div class="flexbox">
            <img src="../static/Images/airports_map.png" alt="All airport in the specified country">
            <img src="../static/Images/routes_map.png" alt="All routes possible from the airports in the specified country">
        </div>        
    </body>
</html>