<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>    
        <section id="furthest_closest" class="main-section">
            <header>Furthest & Closest city to the airport</header>
            <div class="">
                <h5>Source city ID: {{source}}</h5>                
                <h5>Closest city ID: {{closest_id}}, distance: {{closest_d}} km</h5>
                <h5>Furthest city ID: {{furthest_id}}, distance: {{furthest_d}} km</h5>
            </div>
        </section> 
    </body>
</html>