<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>    
        <nav id="navbar">      
            <img src="../static/Images/lento-kello_combined.png" alt="" class="logo-img"> 
            <header id="title" class="text-center">Flight database</header>     
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/documentation.html">Documentation</a></li>
                <li><a href="/survey.html">Feedback</a></li>
            </ul>
        </nav>  
        <main id="main-doc">
            <section id="furthest_closest" class="main-section">
                <header>Furthest & Closest city to {{source}}</header>
                <div class="">
                    <p>Source city ID: {{source}}</p>                
                    <p>Closest city ID: {{closest_id}}, distance: {{closest_d}} km</p>
                    <p>Furthest city ID: {{furthest_id}}, distance: {{furthest_d}} km</p>
                </div>
            </section> 
        </main>
    </body>
</html>