<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lento-Kello: Flight database</title>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>    
    <nav id="navbar">
      <header id="title" class="text-center">Lento-Kello: Flight database</header>      
      <ul>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="survey.html">Feedback</a></li>
      </ul>
    </nav>      
    <main id="main-doc">
      <section id="Route_listing" class="main-section">
        <header>Route listing</header>        
        <form action="/flight_routing" id="place_input" method="POST">
          <label for="place">Input a place to show all possible routes: </label>
          <input name="place" id="place" type="text">   
          <input type="submit" id="submit" value="Submit">   
        </form>
      </section>   
      <section id="furthest_closest" class="main-section">
        <header>Furthest & Closest city to the airport</header>        
        <form action="/furthest_closest" id="id_input" method="POST">
          <label for="id">Input airport ID: </label>
          <input name="id" id="id" type="number">   
          <input type="submit" id="submit" value="Submit">   
        </form>
      </section>       
    </main>
  </body>
</html>
